body{
	width: 940px;
	height: 100%;	
	padding: 0px;
	font-family: sans-serif;
}
html{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
h1,h2{
	margin: 0px;
	padding: 0px;
	text-align: center;

}
a {
	text-decoration: none;
    color: #000;
}

.main_div{
	height:200px;
	border:dashed 2px;
	border-radius: 5px;
}

#image{
	width: 200px;	
	max-height: 200px;
	float: left;
	display: inline-block;
}
#image img{
	width: inherit;
	max-height: inherit;
}
#layout_vertical{
	top:0px;
	width: 600px;
	height: inherit;
	display: inline-block;
	float: left;
}
#description{
	margin-top: 10px;
	width: inherit;
	float: left;
	display: block;
	height: 150px;
	overflow: hidden;
}
.layout_vertical_right{
	display: inline-block;
	width: 120px;
	height: inherit;
	margin: 0;
	padding: 0;
}
#price{
	background-color: #33dd00;
	margin-top: 20px;
	border-radius: 10px;
	height: 70px;
	line-height: 70px;
	text-align: center;
}
.buy_button{
	margin-top: 20px;
    background-color: #f88;
	border-radius: 10px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
